<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>
<div class="container">
<h1 th:text="${title}">Default Title</h1>
<br/>

<div th:object="${measure}">
    <div class="row">
        <div class="col">
            <table class="table table-striped">

                <tr>
                    <th>Name</th>
                    <td th:text="*{name}"></td>
                </tr>

                <tr>
                    <th>Passing Criteria</th>
                    <td colspan="2" th:text="*{passingCriteria}"></td>
                </tr>

                <tr>
                    <th>Ballot Wording</th>
                    <td th:text="*{ballotWording}"></td>
                </tr>

                <tr>
                    <th>Summary</th>
                    <td th:text="*{summary}"></td>
                </tr>

            </table>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</div>
</body>
</html>