<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">                                               <!--replace this head with whatever is in the head of the fragments.html file-->
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>
<div class="container">

<h1 th:text="${'Compare Candidates for ' + #strings.capitalize(office)}">Default Title</h1>

<br/>


    <div th:object="${candidates}">
        <div class="row">
            <div class="col-6">
                <table class="table table-striped">
                    <tr>
                        <td colspan="2" align="center"><img alt="Image" th:src="@{image/} + *{compare1.id}" class="img-responsive"/></td>
                    </tr>

                    <tr>
                        <th>Name</th>
                        <td th:text="*{compare1.name}"></td>
                    </tr>

                    <tr>
                        <th>Party</th>
                        <td th:text="*{compare2.party}"></td>
                    </tr>

                    <tr>
                        <th>Education</th>
                        <td th:text="*{compare1.education}"></td>
                    </tr>

                    <tr>
                        <th>Elected Offices</th>
                        <td th:text="*{compare1.electedOffices}"></td>
                    </tr>

                    <tr>
                        <th>Contact Info</th>
                        <td>Website Email Facebook Twitter</td>
                    </tr>
                </table>
            </div>

            <div class="col-6">
                <table class="table table-striped">
                    <tr>
                        <td colspan="2" align="center"><img alt="Image" th:src="@{image/} + *{compare2.id}" class="img-responsive"/></td>
                    </tr>

                    <tr>
                        <th>Name</th>
                        <td th:text="*{compare2.name}"></td>
                    </tr>

                    <tr>
                        <th>Party</th>
                        <td th:text="*{compare2.party}"></td>
                    </tr>

                    <tr>
                        <th>Education</th>
                        <td th:text="*{compare2.education}"></td>
                    </tr>

                    <tr>
                        <th>Elected Offices</th>
                        <td th:text="*{compare2.electedOffices}"></td>
                    </tr>

                    <tr>
                        <th>Contact Info</th>
                        <td>
                            <span th:if="${candidate.website} != null"><a th:href="@{${candidate.website}}" target="_blank" class="fa fa-laptop"></a></span>
                            <span th:if="${candidate.facebook} != null"><a th:href="@{${candidate.facebook}}" target="_blank" class="fa fa-facebook"></a></span>
                            <span th:if="${candidate.twitter} != null"><a th:href="@{${candidate.twitter}}" target="_blank" class="fa fa-twitter"></a></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


<div th:replace="fragments :: footer"></div>
</div>
</body>
</html>
