<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head></head>
<body>

<h1 th:text="${title}">Default Title</h1>


<a th:href="@{/candidates/viewAll(office = mayor)}">Mayor</a>

    <div th:each="candidate : ${candidates}">
        <span th:if="${candidate.office} == 'mayor'">
            <a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a>
        </span>
    </div>


<a th:href="@{/candidates/viewAll(office = comptroller)}">Comptroller</a>

    <div th:each="candidate : ${candidates}">
        <span th:if="${candidate.office} == 'comptroller'">
            <a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a>
        </span>
    </div>


<a th:href="@{/candidates/viewAll(office = alderman)}">Alderman</a>

    <div th:each="candidate : ${candidates}">
        <span th:if="${candidate.office} == 'alderman'">
            <a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a>
        </span>
    </div>




   <!-- <li><a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a></li>
</ul>








<form method="post" th:action="@{/candidates/compare}" th:object="${candidates}" modelAttribute="candidatesToCompare">
    <label>Compare Candidates</label>

    <select name="compare1">
        <option th:each="candidate : ${candidates}"
                th:text="${candidate.name}"
                th:value="${candidate.id}"></option>
    </select>


    <select name="compare2">
        <option th:each="candidate : ${candidates}"
                th:text="${candidate.name}"
                th:value="${candidate.id}"></option>
    </select>

    <input type="submit" value="Compare!" />

</form>-->



</body>
</html>