<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: header"></head>                                              <!--replace this head with whatever is in the head of the fragments.html file-->
<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
<h1 th:text="${title}">Default Title</h1>
<br/>

<table class="table table-striped">
    <thead>
        <tr>
            <th><a th:href="@{/candidates/viewAll(office = mayor)}"><h3>Mayor</h3></a></th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="candidate : ${candidates}" th:if="${candidate.office} == 'mayor'">
            <td><a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a></td>
        </tr>
    </tbody>

</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th><a th:href="@{/candidates/viewAll(office = comptroller)}"><h3>Comptroller</h3></a></th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="candidate : ${candidates}" th:if="${candidate.office} == 'comptroller'">
            <td><a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a></td>
        </tr>
    </tbody>

</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th><a th:href="@{/candidates/viewAll(office = alderman, ward = 7)}"><h3>Alderman - Ward 7</h3></a></th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="candidate : ${candidates}" th:if="${candidate.office} == 'alderman' and ${candidate.ward.wardNumber} == '7'">
            <td><a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a></td>
        </tr>
    </tbody>

</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th><a th:href="@{/candidates/viewAll(office = alderman, ward = 9)}"><h3>Alderman - Ward 9</h3></a></th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="candidate : ${candidates}" th:if="${candidate.office} == 'alderman' and ${candidate.ward.wardNumber} == '9'">
            <td><a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a></td>
        </tr>
    </tbody>

</table>

<div th:replace="fragments :: footer"></div>
</div>
</body>
</html>