<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">                                               <!--replace this head with whatever is in the head of the fragments.html file-->
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>


<a th:href="@{/candidates/viewAll(office = mayor)}">Mayor</a>

    <div th:each="candidate : ${candidates}">
        <span th:if="${candidate.office} == 'mayor'">
            <a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a>
        </span>
    </div>


<a th:href="@{/candidates/viewAll(office = comptroller)}">Comptroller</a>

    <div th:each="candidate : ${candidates}">
        <span th:if="${candidate.office} == 'comptroller'">
            <a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a>
        </span>
    </div>


<a th:href="@{/candidates/viewAll(office = alderman)}">Alderman</a>

    <div th:each="candidate : ${candidates}">
        <span th:if="${candidate.office} == 'alderman'">
            <a th:href="@{/candidates/view(candidate_id=${candidate.id})}" th:text="${candidate.name}"></a>
        </span>
    </div>

</body>
</html>