<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">                                               <!--replace this head with whatever is in the head of the fragments.html file-->
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<div class="container">

    <div class="row">

        <div th:object="${candidate}">
            <div class="col-sm-6"> <!--change the width (6) depending on number of candidates?? works just fine like this-->

                <table>
                    <tr>
                        <div class="table-responsive">
                            <td>
                                <table class="table table-striped">

                                    <tr> <!--make this row span two columns-->
                                        <td colspan="2"><img alt="Image" th:src="@{image/} + *{id}" class="img-responsive"/></td>
                                    </tr>

                                    <tr>
                                        <th>Name</th>
                                        <td th:text="*{name}"></td>
                                    </tr>

                                    <tr>
                                        <th>Age</th>
                                        <td th:text="*{age}"></td>
                                    </tr>

                                    <tr>
                                        <th>Party</th>
                                        <td th:text="*{party}"></td>
                                    </tr>

                                    <tr>
                                        <th>Education</th>
                                        <td th:text="*{education}"></td>
                                    </tr>

                                    <tr>
                                        <th>Elected Offices</th>
                                        <td th:text="*{electedOffices}"></td>
                                    </tr>

                                    <tr>
                                        <th>Incumbent?</th>
                                        <td th:text="*{incumbent}"></td>
                                    </tr>

                                    <tr>
                                        <th>Website</th>
                                        <td th:text="*{website}"></td>
                                    </tr>
                                </table>

                            </td>

                        </div>
                    </tr>

                </table>

            </div> <!--col-sm-6-->
        </div> <!--candidates-->
    </div> <!--row-->
</div> <!--container-->


<div th:replace="fragments :: footer"></div>
</body>
</html>