<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">                                               <!--replace this head with whatever is in the head of the fragments.html file-->
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container">

<h1 th:text="${title}">Default Title</h1>

<br/>

    <div th:object="${candidate}">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <tr>
                        <td colspan="2" align="center"><img alt="Image" th:src="@{image/} + *{id}" class="img-responsive"/></td>
                    </tr>

                    <tr>
                        <th>Name</th>
                        <td th:text="*{name}"></td>
                    </tr>

                    <tr>
                        <th>Party</th>
                        <td th:text="*{party}"></td>
                    </tr>

                    <tr>
                        <th>Education</th>
                        <td th:text="*{education}"></td>
                    </tr>

                    <tr>
                        <th>Elected Offices</th>
                        <td th:text="*{electedOffices}"></td>
                    </tr>

                    <tr>
                        <th>Contact Info</th>
                        <td>
                            <span th:if="${candidate.website} != null">
                                <div class="social-links">
                                    <a th:href="@{${candidate.website}}" target="_blank"><i class="fa fa-laptop fa-lg"></i></a>
                                </div>
                            </span>

                            <span th:if="${candidate.facebook} != null">
                                <div class="social-links">
                                    <a th:href="@{${candidate.facebook}}" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                </div>
                            </span>

                            <span th:if="${candidate.twitter} != null">
                                <div class="social-links">
                                    <a th:href="@{${candidate.twitter}}" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                </div>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


<div th:replace="fragments :: footer"></div>
</div>
</body>
</html>