<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">                                               <!--replace this head with whatever is in the head of the fragments.html file-->
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method="post" action="/register" th:object="${user}">

    <div>
        <label th:for="username">Username</label>
        <input th:field="*{username}" />
        <span th:errors="*{username}"></span>
    </div>

    <div>
        <label th:for="email">Email</label>
        <input th:field="*{email}" />
        <span th:errors="*{email}"></span>
    </div>

    <div>
        <label th:for="ward">St. Louis City Ward</label>
        <select name="ward">
            <option value="">Select</option>
            <option th:each="ward : ${wards}"
                    th:text="${ward.wardNumber}"
                    th:value="${ward.id}"></option>
        </select>

    </div>

    <div>
        <label th:for="password">Password</label>
        <input th:field="*{password}" />
        <span th:errors="*{password}"></span>
    </div>

    <div>
        <label th:for="verifyPassword">Verify Password</label>
        <input name="verifyPassword" />
        <span th:text="${verifyError}"></span>
    </div>

    <div th:text="${error}">Default Error</div>  <!--username is taken error, how to put this in the appropriate div above?-->

    <input type="submit" value="Register" />

</form>

</body>
</html>