<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head></head>

<body>


<form method="post" action="/ballot" th:object="${form}" modelAttribute="ballotFormView">


    <div>
        <label th:for="mayoralCandidateId">Mayor</label>
        <select th:name="mayoralCandidateId"
                th:field="*{candidates}">
            <option th:each="candidate : *{candidates}"
                    th:if="${candidate.office} == 'mayor'"
                    th:text="${candidate.name}"
                    th:value="${candidate.id}"></option>
        </select>
    </div>


    <div>
        <label th:for="comptrollerCandidateId">Comptroller</label>
        <select th:name="comptrollerCandidateId"
                th:field="*{candidates}">
            <option th:each="candidate : *{candidates}"
                    th:if="${candidate.office} == 'comptroller'"
                    th:text="${candidate.name}"
                    th:value="${candidate.id}"></option>
        </select>
    </div>


    <div>
        <label th:for="aldermanicCandidateId">Alderperson</label>
        <select th:name="aldermanicCandidateId"
                th:field="*{candidates}">
            <option th:each="candidate : *{candidates}"
                    th:if="${candidate.office} == 'alderman' and ${candidate.ward.id} == ${currentUserWardId}"
                    th:text="${candidate.name}"
                    th:value="${candidate.id}"></option>
        </select>
    </div>


    <!--<div th:each="measure : ${measures}">
        <p><div th:text="${measure.name}"></div></p>
        <select>
            <option value="yes">YES - FOR THE PROPOSITION</option>
            <option value="no">NO - AGAINST THE PROPOSITION</option>
        </select>
    </div>-->

    <!--<input type="hidden" name="ballotId" th:value="*{ballot.id}" />-->

    <p><input type="submit" value="Submit" /></p>

</form>

</body>
</html>

