<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="header">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="${#strings.capitalize(title)}">Voting Guide</title>

    <link th:href="@{/css/normalize.css}" rel="stylesheet" />
    <link th:href="@{/css/votingguide.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
</head>

<body>
<div th:fragment="navigation">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand">Voting Guide</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/candidates">Candidates</a></li>
            <li class="nav-item"><a class="nav-link" href="/measures">Measures</a></li>
            <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
            <li class="nav-item"><a class="nav-link" href="/ballot">Cast My Ballot</a></li>
            <li class="nav-item"><a class="nav-link" href="/results">View Election Results</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <!--<li th:classappend="${#httpServletRequest.getRequestURI() == '/candidates' ? 'active':''}"><a th:href="@{/candidates}"><span>Candidates</span></a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/measures' ? 'active':''}"><a th:href="@{/measures}"><span>Measures</span></a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/resources' ? 'active':''}"><a th:href="@{/resources}"><span>Resources</span></a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/ballot' ? 'active':''}"><a th:href="@{/ballot}"><span>Cast My Ballot</span></a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/results' ? 'active':''}"><a th:href="@{/results}"><span>View Election Results</span></a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/logout' ? 'active':''}"><a th:href="@{/logout}"><span>Logout</span></a></li>-->
        </ul>
    </div>
</nav>
    <br/>
</div>

<div th:fragment="footer">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</div>

</body>

</html>