<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: header"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
<h1 th:text="${title}">My Resources</h1>
<br/>

    <div id="accordion" role="tablist" aria-multiselectable="true" th:object="${resources}">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Articles
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    <div th:each="resource : ${resources}">
                        <div th:if="${resource.type.name} == 'Article'">
                            <a th:href="@{${resource.url}}" target="_blank" th:text="${resource.title}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Video
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                    <div th:each="resource : ${resources}">
                        <div th:if="${resource.type.name} == 'Video'">
                            <a th:href="@{${resource.url}}" target="_blank" th:text="${resource.title}"></a>

                            <!--<div class="embed-responsive embed-responsive-21by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mPZd0dQkd0o&t=1s"></iframe>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Audio
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                    <div th:each="resource : ${resources}">
                        <div th:if="${resource.type.name} == 'Audio'">
                            <a th:href="@{${resource.url}}" target="_blank" th:text="${resource.title}"></a>
                            <!--<div class="embed-responsive embed-responsive-21by9">
                                <iframe class="embed-responsive-item" th:src="@{${resource.url}}"></iframe>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <a href="/resources/add">Add a Resource</a>


</div>

<div th:replace="fragments :: footer"></div>


</body>
</html>