<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
</head>
<body>

<form method="post" action="/login" th:object="${user}">

    <div>
        <label th:for="username">Username</label>
        <input th:field="*{username}" />
    </div>

    <div>
        <label th:for="password">Password</label>
        <input th:field="*{password}" />
    </div>

    <div th:text="${error}">Default Error</div>  <!--how to put this in the username div above?-->

    <input type="submit" value="Log In" />

</form>

<a href="/register">Register</a>

</body>
</html>